* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7em;

}
/* button{
	padding: 10px 15px;
	border: none;
	border-radius: 8px;
	transition: 0.2s ease-in-out;
}
button:hover{
	opacity: 0.8;
	transition: 0.2s ease-in-out;
	cursor: pointer;
} */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* navigation start*/
.nav {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 20px -20px;
	position: sticky;
	top: 0;
	margin-bottom: 30px;
	background: white;
	padding: 10px;
	z-index: 1;
}

.bar-icon {
	font-size: 30px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


/* global css start */
.container {
	width: 1140px;
	margin: 0 auto;

}
/* global css end */
/* hero section start */
.hero{
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
}


.hero-content{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}
.tag{
	background-color: green;
	padding: 5px 10px;
	color: white;
	align-self: flex-start;
}
.hero-content h1{
	font-size: 72px;
	line-height: 1.2em;
	font-weight: 400;
}
.explore-btn{
	border: 1px solid #ffc066;
	background: none;
	border-radius: 6px;
	align-self: flex-start;
	color: #ffc066;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	padding: 10px 20px;
	transition: 0.8s;
	
}
.explore-btn:hover{
	color: #fff;
}
.explore-btn::before{
	content: "";
	width: 100%;
	height: 0%;
	position: absolute;
	background: #ffc066;
	z-index: -1;
	left: 0;
	top: 0;
	border-radius: 0 0 50% 50%;
	transition: 0.8s;
}
.explore-btn:hover::before{
	height: 180%;
}
/* hero section end */
/* feature section start */
.features{
	
	display: flex;
	gap: 20px;
	justify-content: center;
	margin: 100px 0px;

}
.feature{
	display: flex;
	gap: 20px;
	padding: 20px;
	transition: 0.2s ease-in-out;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.feature:hover{
	transition: 0.2s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	transform: scale(1.05);
	
}
/* feature section end */
.divider{
	border: 1px solid #ccc;
	margin: 20px 0px;
}
/* menu section start */
.menu{
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin: 50px 0px;
	justify-content: center;
	align-items: center;
}
.menu .tag{
	align-self: center;
}
.grid-image{
	border-radius: 10px;
	transition: 0.2s ease-in-out;

}
.grid-image:hover{
	transform: scale(1.05);
	transition: 0.2s ease-in-out;
}
.grid{
	display: grid;
	gap: 10px;
	grid-template-areas:
	"I1 I1 I2 I3"
	"I1 I1 I2 I7"
	"I4 I5 I6 I7" ;
}
.item1{
	grid-area: I1;
}
.item2{
	grid-area: I2;
}
.item3{
	grid-area: I3;
}
.item4{
	grid-area: I4;
}
.item5{
	grid-area: I5;
}
.item6{
	grid-area: I6;
}
.item7{
	grid-area: I7;
}

/* menu section end */

/* footer start */
footer{
	background: #ffc066;
}
.footer-container{
	display: flex;
	padding: 30px;
	justify-content: space-between;

}
.link-list h3{
	margin-bottom: 10px;
	color: gray;
	font-weight: 900;
	
}
.news-letter input{
	padding: 5px 40px;
	margin-bottom: 10px;
	border-radius: 8px;
}
.news-letter h3{
	margin-bottom: 10px;
	color: gray;
	font-weight: 900;
	
}
.link-list ul{
	list-style: none;
}
.link-list ul li{
	font-size: 16px;
	margin-bottom: 5px;
}
.icon-container{
	display: flex;
	
	font-size: 32px;
}
/* footer end */

	





  .checkbox-wrapper-55 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-55 *,
  .checkbox-wrapper-55 ::after,
  .checkbox-wrapper-55 ::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-55 .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .checkbox-wrapper-55 .rocker-small {
    font-size: 0.75em;
  }

  .checkbox-wrapper-55 .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .checkbox-wrapper-55 .switch-left,
  .checkbox-wrapper-55 .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
  }

  .checkbox-wrapper-55 .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .checkbox-wrapper-55 .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }

  .checkbox-wrapper-55 .switch-left::before,
  .checkbox-wrapper-55 .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }

  .checkbox-wrapper-55 .switch-left::before {
    left: -0.4em;
  }

  .checkbox-wrapper-55 .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }

  .checkbox-wrapper-55 input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }

  /* Keyboard Users */
  .checkbox-wrapper-55 input:focus + .switch-left {
    color: #333;
  }

  .checkbox-wrapper-55 input:checked:focus + .switch-left {
    color: #fff;
  }

  .checkbox-wrapper-55 input:focus + .switch-left + .switch-right {
    color: #fff;
  }

  .checkbox-wrapper-55 input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }

